.topbar{
    margin-top: -1%;
    margin-left: -0.6%;
    margin-right: -0.6%;
    transition: top 0.3s;
    font-family: UD Digi Kyokasho N-R;
    font-size: larger;
    overflow: hidden;
    background-color: #202627;
}
.topbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topbar a:hover{
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

.ava{
    width: 3cm;
    height: 4cm;
    border-radius: 5%;
}
table{
    width: 15cm;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    color: #f2f2f2;
    border-radius: 2%;
    background-color: black;
    font-family: UD Digi Kyokasho N-R;
    font-weight: lighter;
}
td{
    border-spacing: 30px;
}